<mat-toolbar color="accent">
    <mat-toolbar-row>
      <h1>ANGULAR MATERIAL</h1>
      <div >
        <a mat-button routerLink ="/button"routerLinkActive="active">BUTTON</a>
        <a mat-button routerLink ="/navbar"routerLinkActive="active">NAVBAR</a>
        <a mat-button routerLink ="/menu"routerLinkActive="active">MENU</a>
        <a mat-button routerLink ="/materialinput"routerLinkActive="active">INPUT</a>
        <a mat-button routerLink ="/autocomplete"routerLinkActive="active">AUTO COM</a>
        <a mat-button routerLink ="/snackbar"routerLinkActive="active">SNACK BAR</a>
        <a mat-button routerLink ="/dialog"routerLinkActive="active">DIALOG</a>
        <a mat-button routerLink ="/datatable"routerLinkActive="active">DATA TABLE</a>
        <a mat-button routerLink ="/scrolling"routerLinkActive="active">SCROLLING</a>
         
       
      </div>
   
    </mat-toolbar-row> 
    </mat-toolbar><br>
